@charset "utf-8";

@font-face {
   font-family: 'Noto Sans KR';
   font-weight: 400;
   src: url(../fonts/NotoSansKR-Regular.woff);
}

@font-face {
   font-family: 'Noto Sans KR';
   font-weight: 500;
   src: url(../fonts/NotoSansKR-Medium.woff);
}

@font-face {
   font-family: 'Noto Sans KR';
   font-weight: 700;
   src: url(../fonts/NotoSansKR-Bold.woff);
}


@font-face {
   font-family: '나눔스퀘어 R';
   src: url(../fonts/NanumSquareOTFBold.woff);
}


@font-face {
   font-family: '나눔스퀘어 EB';
   src: url(../fonts/NanumSquareOTFExtraBold.woff);
}


@font-face {
   font-family: '나눔스퀘어 R';
   src: url(../fonts/NanumSquareOTFBold.woff);
}


@font-face {
   font-family: 'Roboto';
   src: url(../fonts/roboto-v20-latin-700.woff);
}



